<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro artista</title>
</head>
<body>

 <form method="post">

     <h1>Añade nuevo grupo</h1>
        <h2> </h2>

        <table border="1" class="dataframe">
        <tbody>
          <tr>
            <th>Nuevo grupo   </th>
              <th> <input type="text" name="artist" /> </th>

        </tbody>
        </table>
     <h2> </h2>
     <input type="submit" value="Registrar" />

 </form>


<h3><a href="http://127.0.0.1:5000/inicio">Volver a Inicio</a></h3>
<h3><a href="http://127.0.0.1:5000/listado_empresas">Ver listado empresas</a></h3>

</body>
</html>