<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añade canción a playlist</title>
</head>
<body>


 <form method="post">

     <h1>Verifica usuario</h1>
        <h2> </h2>

        <table border="1" class="dataframe">

        <tbody>

          <tr>
                <th> Username   </th>
                    <th> <input type="text" name="username" /> </th>

        <tr>
                <th> e-mail   </th>
                    <th> <input type="text" name="correo" /> </th>

        <tr>
                <th> titulo de playlist   </th>
                    <th> <input type="text" name="title" /> </th>

        </tbody>
        </table>
     <h2> </h2>
     <input type="submit" value="Registrar" />

 </form>

</body>
</html>