<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Inicio</title>
</head>
<body>
<div>
            <H1> Selecciona Opcion</H1>
      </div>
              <h3><a href="http://127.0.0.1:5000/add_user">Añade usuario</a></h3>
                <h3><a href="http://127.0.0.1:5000/add_song">Añade artista</a></h3>
                <h3><a href="http://127.0.0.1:5000/get_user_id_console">Crea nueva playlist desde Consola</a></h3>
                <h3><a href="http://127.0.0.1:5000/show_all_songs">Ver todas las canciones</a></h3>
                        <h3><a href="http://127.0.0.1:5000/see_your_playlist">Ver las canciones de tu playlist</a></h3>
                <h3><a href="http://127.0.0.1:5000/seleccion_random">Seleccion aleatoria 20 temas de tu playlist</a></h3>
              <h2></h2>

</body>
</html>

